<ul class="global-nav">
  <li class="global-nav__item <% if(location == 'top'){ %>is-current<% } %>">
    <a href="#">TOP</a>
  </li>
  <li class="global-nav__item <% if(location == 'about'){ %>is-current<% } %>">
    <a href="#">このサイトについて</a>
  </li>
  <li class="global-nav__item <% if(location == 'profile'){ %>is-current<% } %>">
    <a href="#">著者プロフィール</a>
  </li>
  <li class="global-nav__item <% if(location == 'contact'){ %>is-current<% } %>">
    <a href="#">お問い合わせ</a>
  </li>
</ul>
